<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Inout2ThugLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45F9EB301BE4D9B300EDB1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9EB461BE4D9B300EDB1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45F9EB511BE4D9B300EDB1D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
